---
// Component Imports
import Footer from '../components/Footer.astro';
import MainHead from '../MainHead.astro';
import Nav from '../components/Nav.astro';
import md from 'markdown-it';

// const renderer = md({
// 	html: true,
// 	linkify: true,
// 	typographer: true
// });


const left_com = await fetch('https://construtoraconfidence.com/static_content/logo-landing-content-left.json').then((response) =>
	response.status == 200 && response.json()
);
const right_com = await fetch('https://construtoraconfidence.com/static_content/logo-landing-content-right.json').then((response) =>
	response.status == 200 &&response.json()
);
const welcome_message = await fetch('https://construtoraconfidence.com/static_content/empresa_welcome.json').then((response) =>
	response.status == 200 &&response.json()
);
const followup = await fetch('https://construtoraconfidence.com/static_content/followup.json').then((response) =>
	response.status == 200 &&response.json()
);
---

<html lang="en">
	<MainHead/>
<body>
	<Nav startsOpen={true}>
		 <>
			<p slot="logonav-slot_left" >
				{left_com}
			</p>
			
			<p slot="logonav-slot_right" >
				{right_com.mdsession}
			</p>
		
		</> 
	</Nav>
	<div class="section content" style="max-width: 1000px;margin-inline: auto;">
		<section id="resume">
			{welcome_message.mdsession}
		</section>
		<section id="followupnav">
			{followup.mdsession}
		</section>
	</div>
	<style>
		#resume{
			margin-top: 50px;
		}
		
	</style>
	<Footer></Footer>
</body>
</html>
