---
import '../pages/portfolio/[...project].css';
const {session, i, style} = Astro.props;
---

<div 
    x-bind:class="open? 'item actived' : 'item'"
    id={`img-galery-item img-galery-item#${i}`}
    style={style}
    x-data="{ open: false }">
    { session.foto.split('.').pop() == "mp4" ?
        <video x-on:click="open=!open" muted={true} autoplay={true} loop={true}>
            <source src={session.foto} type="video/mp4"/>
        </video>
    : 
        <img x-on:click="open=!open"
        src={session.foto} alt={session.shortstory} />
    }

    <h2>{session.titulo}</h2>
    
    <span x-data="{ tailstoryOpen: false }" class="glritem-desc">
        <caption>
            {session.shortstory}
        </caption>
        {session.tailstory && session.tailstory.length>3 && 
          <small x-show="!tailstoryOpen" x-on:click="tailstoryOpen=!tailstoryOpen">mais...</small>
          <div x-show="tailstoryOpen" x-on:click="tailstoryOpen=false">
            {session.tailstory}
          </div>}
    </span>
</div>

<script>
  window.addEventListener('load', () => {
    let wr = window.document.querySelectorAll("#img-galery .item")
    wr.forEach((el, index) => {
      el.addEventListener('click', (e) => {
        console.log(e.target.parentNode.parentNode)//e.target.parentNode.parentNode.scrollTo({top: 100})
        e.target.parentNode.parentNode.scrollTo({top: 0})
      })
    })
  })
</script>

<style>
  .item h2{
    position: absolute;
    top: 1em;
    left: 5%;
    mix-blend-mode: difference;
    color: #0D9331;
    opacity: 0;
    transition: all 0.2s;
    font-size: 32px;
  }
  .item.actived h2{
    opacity: 1;
  }
  .item.actived .glritem-desc{
    width: auto !important;
  }
  .glritem-desc{
    max-height: 60vh;
    max-width: 40vw;
    color: #22333B;
    mix-blend-mode: screen;
    overflow-y: scroll!important;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
</style>
