---
import Footer from '../../components/Footer.astro';
import MainHead from '../../MainHead.astro';
import Nav from '../../components/Nav.astro';
import md from 'markdown-it';

import "./[...project].css"
import Placa from '../../components/Placa.astro';
import GlrImgWrapper from '../../components/GlrImgWrapper.astro';

const feching = await fetch('https://construtoraconfidence.com/data.json').then((response) =>
  response.json()
);

const { project } = Astro.params;
const data = feching['portfolio'][project]
---
<html lang="en">
	<MainHead/>
<body>

	<Nav  startsOpen={false}/>

  {data && 
    <GlrImgWrapper itemsLength={data.sessions? data.sessions.length : 0} data={data} />

    <div class=" section content " 
      style=" padding-top: 10px; max-width: 1000px;
            margin-inline: auto;">
      <h3>{data.titulo}</h3>

      {data.story && Object.keys(data.story).map((storyPart, index) => 
        <section class={storyPart}>
            <p>
              {data.story[storyPart]}
            </p>
        </section>
      )}
      
      {data.sessions ? data.sessions.length>0 ? 
        <>
        <h3>Registros</h3>
          {data.sessions.map( (session, i) => (
            session['mdsession'] && <section class="p_session">
              <div set:html={md().render(session['mdsession'])}/>
            </section>
          ))}
        </>
      :null:null}
    </div>
  }
	<Footer></Footer>
</body>
</html>
