---
import Footer from "../../components/Footer.astro";
import Nav from "../../components/Nav.astro";
import Placa from "../../components/Placa.astro";
import MainHead from "../../MainHead.astro";

const data = await fetch('https://construtoraconfidence.com/data.json').then((response) =>
    response.json()
);
---
<html lang="en">
<MainHead/>
<body>
	<Nav startsOpen={false}/>
	<h3 class" section content ">
		Abaixo a lista de nossos trabalhos
	</h3>
    <div class=" section content ">
        {data['portfolio']&& data['portfolio'].map((obra, index) => {
            return(
                <section id={`obra#${index}`} style="margin-bottom: 1.5em;">
                    <div class="title-box">
                        <img onclick={`window.location = "portfolio/${index}"`} src={obra.sessions[0].foto} alt=""/>
			    <h2>{obra.titulo}</h2>
			    <small>Status: {obra.status}</small>
                    </div>
                    {obra.story && 
                        (<caption set:html={obra.story.twitterlike}/>
                        <a href={`portfolio/${index}`}>mais ...</a>)}
                </section>
            )
        })}
    </div>
    
    <Footer></Footer>
</body>
</html>
